@model IEnumerable<Report.Web.EF.NiftyWeekly>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="">
    <table class="table  table-sm table-hover table-bordered small">
        <thead class="table-header">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Open)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.High)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Low)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Close)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DayLowToHigh)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PrevDayClose)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HighFrmY)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LowFrmY)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CloseFrmY)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model._10AM)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model._10_30AM)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model._1PM)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model._2PM)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model._2_25PM)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Gap)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DayMaxHighReachedAt)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DayMaxLowReachedAt)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="@item.IsRuleMatchedClass">
                    @* <td>
                @Html.DisplayFor(modelItem => item.Id)
                </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Open)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.High)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Low)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Close)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DayLowToHigh)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PrevDayClose)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HighFrmY)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LowFrmY)
                    </td>
                    <td class="bg-success">
                        @Html.DisplayFor(modelItem => item.CloseFrmY)
                    </td>
                    <td class="bg-info">
                        @Html.DisplayFor(modelItem => item._10AM)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item._10_30AM)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item._1PM)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item._2PM)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item._2_25PM)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Gap)
                    </td>
                    <td class="@item.DayMaxHighReachedClass">
                        @Html.DisplayFor(modelItem => item.DayMaxHighReachedAt)
                    </td>
                    <td class="@item.DayMaxLowReachedClass">
                        @Html.DisplayFor(modelItem => item.DayMaxLowReachedAt)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

