@model IEnumerable<Report.Web.EF.NiftyWeekly>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="row col-8">

    <table class="table table-striped table-bordered w-75 small">
        <thead>
        <tr>
            @* <th>
                @Html.DisplayNameFor(model => model.Id)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Open)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.High)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Low)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Close)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DayLowToHigh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrevDayClose)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HighFrmY)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LowFrmY)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CloseFrmY)
            </th>
            <th>
                @Html.DisplayNameFor(model => model._10AM)
            </th>
            <th>
                @Html.DisplayNameFor(model => model._10_30AM)
            </th>
            <th>
                @Html.DisplayNameFor(model => model._1PM)
            </th>
            <th>
                @Html.DisplayNameFor(model => model._2PM)
            </th>
            <th>
                @Html.DisplayNameFor(model => model._2_25PM)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gap)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DayMaxHighReachedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DayMaxLowReachedAt)
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                @* <td>
                @Html.DisplayFor(modelItem => item.Id)
                </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Open)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.High)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Low)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Close)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DayLowToHigh)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PrevDayClose)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HighFrmY)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LowFrmY)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CloseFrmY)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item._10AM)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item._10_30AM)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item._1PM)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item._2PM)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item._2_25PM)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gap)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DayMaxHighReachedAt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DayMaxLowReachedAt)
                </td>
                @*  <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>*@
            </tr>
        }
        </tbody>
    </table>
</div>

